@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3vw;

}

body {
    background: #949494a3;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: #4e254d;
}

.logo {
    height: 3.5vw;
    margin: 1vw
}

.butao_stly {
    display: flex;
    justify-content: center;
    color: rgb(218, 207, 207);
    background-color: #4e254d;
    margin: 1.5vw;
    border: none;
    width: 8vw;
    border-radius: 10px;
    cursor: pointer;

}

.butao_stly:hover {

    background: #C079BB;
}

.Barra_lateral {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;

}

.navegacao {
    position: relative;
    align-items: flex-end;
    height: 100vh;
    background-color: #242323;
    width: 3%;
    box-shadow: 1.5vw 0 0 #C079BB;
    border-left: 1vw solid #242323;
    overflow: hidden;
    transition: 0.5s;
}

.navegacao:hover {
    width: 17%;

}

.list:hover {
    background-color: #C079BB;

}


.navegacao ul {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5%;
    padding-top: 50px;

}

.navegacao ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    transition: 0.2s;
}

.navegacao ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: white;


}

.navegacao ul li a .icon {
    position: relative;
    display: block;
    min-width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;


}

.navegacao ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
}

.navegacao ul li.ativa {
    padding-top: 6px;
    padding-left: 0px;
    background-color: #C079BB;
}


/*Inicio jogos*/




.jogos{
    position: flex;
    margin-left: 25%;
    width: 70%;
}


.destaque{
    margin-left: 15.7%;
    padding-top: 3%;
}


.jogo_destaque{
    height: 22vw;
}


.t_sessao{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5vw;
    color: #7E0076;
    margin-left: 5%;
    height: 2vw;
}


.l1_jogos{
    position: flex;
    margin-left: 5%;
    width: 100%;
}

.l1_jogos img{
    width: 20vw;
    height: 14vw;
}

.jogo_1{
    display: inline-block;
}

.nome_jogo_1{
    width: 13.5vw;
    font-family: 'Poppins';
    font-style: bold;
    font-weight: 700;
    font-size: 1.5vw;
    color: #680366;
    padding-left: 3.35vw;
}

.jogo_2{
    display: inline-block;
    margin-left: 4vw;
}

.nome_jogo_2{
    width: 13.5vw;
    font-family: 'Poppins';
    font-style: bold;
    font-weight: 700;
    font-size: 1.5vw;
    color: #680366;
    padding-left: 4.8vw;
}


.jogo_3{
    display: inline-block;
    margin-left: 4vw;
}

.nome_jogo_3{
    width: 13.5vw;
    font-family: 'Poppins';
    font-style: bold;
    font-weight: 700;
    font-size: 1.5vw;
    color: #680366;
    padding-left: 5.2vw;
}



.l2_jogos{
    position: flex;
    margin-left: 5%;
    margin-top: 5%;
    width: 100%;
}

.l2_jogos img{
    width: 20vw;
    height: 14vw;
}


.jogo_4{
    display: inline-block;
}

.nome_jogo_4{
    width: 13.5vw;
    font-family: 'Poppins';
    font-style: bold;
    font-weight: 700;
    font-size: 1.5vw;
    color: #680366;
    padding-left: 4.4vw;
}

.jogo_5{
    display: inline-block;
    margin-left: 4vw;
}

.nome_jogo_5{
    width: 15.5vw;
    font-family: 'Poppins';
    font-style: bold;
    font-weight: 700;
    font-size: 1.5vw;
    color: #680366;
    padding-left: 3.4vw;
}


.jogo_6{
    display: inline-block;
    margin-left: 4vw;
}

.nome_jogo_6{
    width: 7.5vw;
    font-family: 'Poppins';
    font-style: bold;
    font-weight: 700;
    font-size: 1.5vw;
    color: #680366;
    padding-left: 6.5vw;
}

/*Fim jogos*/

/*inicio carregar mais*/

.carregar_mais{
    margin-left: 25.7vw;
    margin-top: 9vw;
}


.btn_carregar{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vw;   
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    background: #C079BB;
    border-radius: 12px;
    width: 12vw;
}

/*fim carregar mais*/


.rodape{
    margin-top: 8%;
    background: #4E254D;
    width: 100%;
    height: 7vw;
}