@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1C1818;

}

.navegacao {
    position: relative;
    height: 500px;
    background-color: #242323;
    width: 300px;
    box-shadow: 10px 0 0 #C079BB;
}

.navegacao {
    position: relative;
    height: 500px;
    background-color: #242323;
    width: 300px;
    box-shadow: 10px 0 0 #C079BB;
}